body {
  background: linear-gradient(to top,
    white, cyan, blue);
  height: 100vh;
}

table {
  text-align: center;
}
th {
  font-family:"Lucida Grande"
}

tr {
  font-family:"Lucida Grande"
}
p {
  font-family: "Lucida Grande"
}

h1 {
  text-decoration: underline;
}

header {
  text-align: center;
  font-family: "Lucida Grande";
  padding: 50px;
}

footer {
  font-size: 12px;
  font-style: italic;
  margin-top: 20px;
}

.by-line {
  display:inline-grid;
  text-transform: lowercase;
}
